.slide{
  -webkit-appearance: none;
  width: 300px;
  height: 13px;
  text-align:  center;
  border-radius: 5px;  
  background: #1d1e1f;
  outline: none;
  opacity: .9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(235, 189, 23);
  opacity: 1;
  cursor: pointer;
}

.game-name{
  width: 200px;
  border:0;
  margin:0;
  color: #1d1e1f;
  font-family: 'Fredoka One', cursive;
  font-size: 100px;
  text-align: center;

}